* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-16: 500 1rem/1.99 "Montserrat", sans-serif;
  --font-18: 600 1.125rem/1.95 "Montserrat", sans-serif;
  --font-24: 600 1.5rem/1.5 "Montserrat", sans-serif;
  --font-32: 700 2rem/1.22 "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}
